@model DateTime

@{ 
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Controllers and Actions</title>
    <link rel="stylesheet" href="~/dist/bootstrap/css/bootstrap.css" />
</head>
<body class="m-1 p-1">
    Model1: @Model.DayOfWeek
    <br />
    Model2: @Model
</body>
</html>